[Unit]
Description=piRobot Service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/robot/bin/robot
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
